{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - OnlineThrift</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- templates/my_product_orders.html -->

{% block content %}
  <h2>My Product Orders</h2>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: left;
    }
    table th, table td {
      padding: 12px 15px;
      border: 2px solid #000;  /* Increased border width */
    }
    table th {
      background-color: #ffd6d6; /* Set header background color to pink */
    }
    table tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  </style>
  {% if orders %}
    <table>
      <thead>
        <tr>
          <th>Customer Email</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Payment Method</th>
          <th>Total Amount</th>
          <th>Shipping Address</th>
        </tr>
      </thead>
      <tbody>
        {% for order_item in orders %}
          <tr>
            <td>{{ order_item.order.customer.user }}</td>
            <td>{{ order_item.product.name }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>{{ order_item.status }}</td>
            <td>{{ order_item.order.payment_method }}</td>
            <td>Rs. {{ order_item.order.summary.total_price_with_shipping }}</td> <!-- Changed to RS -->
            <td>{{ order_item.order.shipping_address }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No orders for your products.</p>
  {% endif %}
{% endblock %}
</body>
</html>
